*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    --color-text: #000000;
    --color-border: #000000;
    --btn-active: #bcbfc2;
}

body {
    background-color: #ededed; 
}

/* Main */
.container{
    padding: 5rem 0;
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: var(--bg);
    grid-template-rows: 2fr 10fr;
}

.banner-header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: center;
    background: #0795df;
    font-size: xx-large;
    font-weight: 800;
}

.banner-header h1 span {
    margin-bottom: 0.3rem; 
}

.banner-header h1 span img {
    width: 400px; 
    height: auto; 
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.app-container {
    margin: 0 auto;
    display: grid;
    width: 50%;
    align-items: center;
}

.input {
    margin: 0 auto;
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
}

.generation {
    margin: 0 auto;
    display: block;
    width: min-content;
    align-items: center;
    text-align: center;
}

.convertion {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.output {
    margin: 0 auto;
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
}

.reset {
    margin: 0 auto;
    display: block;
    width: 5%;
    align-items: center;
    text-align: center;
}
